<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<!-- Para Android 9 (API 28) o inferior -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
		android:maxSdkVersion="28" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
		android:maxSdkVersion="32" />

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.SketchprojectPro"
		android:requestLegacyExternalStorage="true">

		<activity
			android:name="com.deavidig.skecth.project.creator.activities.ProjectModulesCreatorActivity"
			android:exported="false"
			android:screenOrientation="portrait"
			android:theme="@style/Theme.SketchprojectPro.Activity.Dialog.Fullscreen" />

		<activity
			android:name="com.deavidig.skecth.project.creator.activities.ProjectCreatorActivity"
			android:exported="false"
			android:theme="@style/Theme.SketchprojectPro.Activity.Dialog.Fullscreen" />

		<activity
			android:name="com.deavidig.skecth.project.main.activities.MainActivity"
			android:exported="true"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>

</manifest>